##### Categories to classify into: BUSINESS, ENTERTAINMENT, SCIENCE, SPORTS, TECH, U.S. NEWS, WORLD NEWS

###### BUSINESS - 1377
###### Entertainment - 1377
###### SCIENCE - 1377
###### SPORTS - 1377
###### TECH - 1377
###### U.S. NEWS - 1377
###### WORLD NEWS - 1377
###### Total - 9639

In [1]:
import pandas as pd
df = pd.read_csv("../data/0TrainingData.csv")
df

,_id,link,headline,category,short_description,authors,date
0,6556995365bc798083e333ad,https://www.huffpost.com/entry/puerto-rico-wat...,Puerto Ricans Desperate For Water After Hurric...,WORLD NEWS,More than half a million people remained witho...,"DÁNICA COTO, AP",2022-09-22
1,6556995365bc798083e333af,https://www.huffpost.com/entry/biden-un-russia...,Biden At UN To Call Russian War An Affront To ...,WORLD NEWS,White House officials say the crux of the pres...,"Aamer Madhani, AP",2022-09-21
2,6556995365bc798083e333b0,https://www.huffpost.com/entry/bc-soc-wcup-cap...,World Cup Captains Want To Wear Rainbow Armban...,WORLD NEWS,FIFA has come under pressure from several Euro...,"GRAHAM DUNBAR, AP",2022-09-21
3,6556995365bc798083e333b1,https://www.huffpost.com/entry/man-sets-fire-p...,Man Sets Himself On Fire In Apparent Protest O...,WORLD NEWS,The incident underscores a growing wave of pro...,"Mari Yamaguchi, AP",2022-09-21
4,6556995365bc798083e333b2,https://www.huffpost.com/entry/fiona-threatens...,Fiona Threatens To Become Category 4 Storm Hea...,WORLD NEWS,Hurricane Fiona lashed the Turks and Caicos Is...,"Dánica Coto, AP",2022-09-21
...,...,...,...,...,...,...,...
9634,6556995365bc798083e35675,https://www.huffingtonpost.com/entry/david-spa...,Ellen Gets David Spade To Open Up About Dating...,ENTERTAINMENT,The comedian had a few thoughts on the royal w...,Curtis M. Wong,2018-05-22
9635,6556995365bc798083e3569f,https://www.huffingtonpost.com/entry/shawn-men...,Shawn Mendes And Khalid Perform With Parkland ...,ENTERTAINMENT,This was not the first moment addressing gun v...,"Wendy Geller, Yahoo Entertainment",2018-05-21
9636,6556995365bc798083e356a2,https://www.huffingtonpost.com/entry/kelly-cla...,Kelly Clarkson Calls For 'Moments Of Action' I...,ENTERTAINMENT,"""Why don't we change what's happening?""",Mary Papenfuss,2018-05-21
9637,6556995365bc798083e356ad,https://www.huffingtonpost.com/entry/chrissy-t...,Chrissy Teigen Somehow Gets Even More Real Abo...,ENTERTAINMENT,This is postpartum life unfiltered.,Cole Delbyck,2018-05-21
9638,6556995365bc798083e356ae,https://www.huffingtonpost.com/entry/suits-cre...,'Suits' Creator Pens Heartfelt Open Letter Abo...,ENTERTAINMENT,"""It felt like the world was becoming a better ...",Jenna Amatulli,2018-05-21

In [2]:
df.drop(columns=["_id", "link", "short_description", "authors", "date"], inplace=True)
df

                                               headline       category
0     Puerto Ricans Desperate For Water After Hurric...     WORLD NEWS
1     Biden At UN To Call Russian War An Affront To ...     WORLD NEWS
2     World Cup Captains Want To Wear Rainbow Armban...     WORLD NEWS
3     Man Sets Himself On Fire In Apparent Protest O...     WORLD NEWS
4     Fiona Threatens To Become Category 4 Storm Hea...     WORLD NEWS
...                                                 ...            ...
9634  Ellen Gets David Spade To Open Up About Dating...  ENTERTAINMENT
9635  Shawn Mendes And Khalid Perform With Parkland ...  ENTERTAINMENT
9636  Kelly Clarkson Calls For 'Moments Of Action' I...  ENTERTAINMENT
9637  Chrissy Teigen Somehow Gets Even More Real Abo...  ENTERTAINMENT
9638  'Suits' Creator Pens Heartfelt Open Letter Abo...  ENTERTAINMENT

[9639 rows x 2 columns]

In [3]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
label = le.fit_transform(df["category"])

df.drop(columns=["category"], inplace=True)

df["category"] = label

df

                                               headline  category
0     Puerto Ricans Desperate For Water After Hurric...         6
1     Biden At UN To Call Russian War An Affront To ...         6
2     World Cup Captains Want To Wear Rainbow Armban...         6
3     Man Sets Himself On Fire In Apparent Protest O...         6
4     Fiona Threatens To Become Category 4 Storm Hea...         6
...                                                 ...       ...
9634  Ellen Gets David Spade To Open Up About Dating...         1
9635  Shawn Mendes And Khalid Perform With Parkland ...         1
9636  Kelly Clarkson Calls For 'Moments Of Action' I...         1
9637  Chrissy Teigen Somehow Gets Even More Real Abo...         1
9638  'Suits' Creator Pens Heartfelt Open Letter Abo...         1

[9639 rows x 2 columns]

In [4]:
import en_core_web_lg

nlp = en_core_web_lg.load()

def nlpify(text):
    text = str(text)
    return nlp(text).vector

df["headline"] = df["headline"].apply(nlpify)

In [5]:
df

                                               headline  category
0     [-0.9328725, -0.30974603, -1.2490269, -0.56994...         6
1     [3.8118582, 1.8873291, 0.30403855, -1.9931929,...         6
2     [1.0705307, 0.33540758, 1.0051357, -2.562119, ...         6
3     [-2.4521327, -1.6355368, -1.43558, 0.05499051,...         6
4     [1.5944045, 0.567783, -0.6632191, -0.79779387,...         6
...                                                 ...       ...
9634  [2.032157, 0.2690759, 0.6000491, -0.41212445, ...         1
9635  [0.10321381, -1.6310307, -0.23826331, -0.56778...         1
9636  [-1.0828965, -2.7468624, 1.2627373, 0.3459989,...         1
9637  [0.09926551, -0.9574333, -0.20573272, 0.149898...         1
9638  [-0.28775647, -1.5660347, 3.1614215, -0.246389...         1

[9639 rows x 2 columns]

In [6]:
from sklearn.model_selection import train_test_split

X = df["headline"]
y = df["category"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [7]:
import numpy as np

X_train_2d = np.stack(X_train)
X_test_2d = np.stack(X_test)

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

logisticregression = LogisticRegression()
logisticregression.fit(X_train_2d, y_train)

y_pred = logisticregression.predict(X_test_2d)

classification_repo = classification_report(y_true=y_test, y_pred=y_pred, target_names=["BUSINESS", "ENTERTAINMENT", "SCIENCE", "SPORTS", "TECH", "U.S. NEWS", "WORLD NEWS"])
print(classification_repo)

               precision    recall  f1-score   support

     BUSINESS       0.62      0.63      0.63       406
ENTERTAINMENT       0.75      0.77      0.76       415
      SCIENCE       0.79      0.78      0.79       426
       SPORTS       0.81      0.78      0.79       420
         TECH       0.65      0.68      0.66       388
    U.S. NEWS       0.62      0.62      0.62       431
   WORLD NEWS       0.81      0.80      0.81       406

     accuracy                           0.72      2892
    macro avg       0.72      0.72      0.72      2892
 weighted avg       0.72      0.72      0.72      2892

/usr/local/python/3.12.0/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [12]:
logisticregression2 = LogisticRegression(class_weight="balanced")
logisticregression2.fit(X_train_2d, y_train)

y_pred2 = logisticregression2.predict(X_test_2d)

classification_repo2 = classification_report(y_true=y_test, y_pred=y_pred2, target_names=["BUSINESS", "ENTERTAINMENT", "SCIENCE", "SPORTS", "TECH", "U.S. NEWS", "WORLD NEWS"])
print(classification_repo2)

               precision    recall  f1-score   support

     BUSINESS       0.62      0.63      0.62       406
ENTERTAINMENT       0.75      0.77      0.76       415
      SCIENCE       0.79      0.79      0.79       426
       SPORTS       0.80      0.78      0.79       420
         TECH       0.66      0.68      0.67       388
    U.S. NEWS       0.63      0.62      0.63       431
   WORLD NEWS       0.81      0.80      0.80       406

     accuracy                           0.72      2892
    macro avg       0.72      0.72      0.72      2892
 weighted avg       0.72      0.72      0.72      2892

/usr/local/python/3.12.0/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(