In [1]:
##### Categories to classify into: BUSINESS, ENTERTAINMENT, SCIENCE, SPORTS, TECH, U.S. NEWS, WORLD NEWS

###### BUSINESS - 13444
###### Entertainment - 9163
###### SCIENCE - 6565
###### SPORTS - 13306
###### TECH - 9037
###### U.S. NEWS - 1377
###### WORLD NEWS - 10328
###### Total - 63220

In [2]:
import pandas as pd
df = pd.read_csv("../data/3TrainingData.csv")
df

,_id,link,headline,category,short_description,authors,date
0,6556995365bc798083e333a6,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,6556995365bc798083e333a7,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,6556995365bc798083e333aa,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22
3,6556995365bc798083e333ab,https://www.huffpost.com/entry/belk-worker-fou...,Cleaner Was Dead In Belk Bathroom For 4 Days B...,U.S. NEWS,The 63-year-old woman was seen working at the ...,NaN,2022-09-22
4,6556995365bc798083e333ac,https://www.huffpost.com/entry/reporter-gets-a...,Reporter Gets Adorable Surprise From Her Boyfr...,U.S. NEWS,"""Who's that behind you?"" an anchor for New Yor...",Elyse Wanshel,2022-09-22
...,...,...,...,...,...,...,...
63215,6556fe4fa4077f3e93fde3e6,NaN,Hamas horrors you luckily won't see -- glimpse...,WORLD NEWS,NaN,NaN,NaN
63216,6556fe4fa4077f3e93fde3e7,NaN,UN warns ‘civil order’ declining in Gaza as th...,WORLD NEWS,NaN,NaN,NaN
63217,6556fe4fa4077f3e93fde3e8,NaN,Russian security forces remove pro-Palestinian...,WORLD NEWS,NaN,NaN,NaN
63218,6556fe4fa4077f3e93fde3e9,NaN,Israel ‘Expanding’ War Operations in Gaza: Ham...,WORLD NEWS,NaN,NaN,NaN
63219,6556fe4fa4077f3e93fde3ea,NaN,Crisis in Gaza as Israel warns of long war wit...,WORLD NEWS,NaN,NaN,NaN

In [3]:
df.drop(columns=["_id", "link", "short_description", "authors", "date"], inplace=True)
df

                                                headline    category
0      Over 4 Million Americans Roll Up Sleeves For O...   U.S. NEWS
1      American Airlines Flyer Charged, Banned For Li...   U.S. NEWS
2      Woman Who Called Cops On Black Bird-Watcher Lo...   U.S. NEWS
3      Cleaner Was Dead In Belk Bathroom For 4 Days B...   U.S. NEWS
4      Reporter Gets Adorable Surprise From Her Boyfr...   U.S. NEWS
...                                                  ...         ...
63215  Hamas horrors you luckily won't see -- glimpse...  WORLD NEWS
63216  UN warns ‘civil order’ declining in Gaza as th...  WORLD NEWS
63217  Russian security forces remove pro-Palestinian...  WORLD NEWS
63218  Israel ‘Expanding’ War Operations in Gaza: Ham...  WORLD NEWS
63219  Crisis in Gaza as Israel warns of long war wit...  WORLD NEWS

[63220 rows x 2 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
label = le.fit_transform(df["category"])

df.drop(columns=["category"], inplace=True)

df["category"] = label

df

                                                headline  category
0      Over 4 Million Americans Roll Up Sleeves For O...         5
1      American Airlines Flyer Charged, Banned For Li...         5
2      Woman Who Called Cops On Black Bird-Watcher Lo...         5
3      Cleaner Was Dead In Belk Bathroom For 4 Days B...         5
4      Reporter Gets Adorable Surprise From Her Boyfr...         5
...                                                  ...       ...
63215  Hamas horrors you luckily won't see -- glimpse...         6
63216  UN warns ‘civil order’ declining in Gaza as th...         6
63217  Russian security forces remove pro-Palestinian...         6
63218  Israel ‘Expanding’ War Operations in Gaza: Ham...         6
63219  Crisis in Gaza as Israel warns of long war wit...         6

[63220 rows x 2 columns]

In [5]:
import en_core_web_lg

nlp = en_core_web_lg.load()

def nlpify(text):
    text = str(text)
    """tokenized_text = nlp(text)
    token_list = []
    for token in tokenized_text:
        token_list.append(token.text)
    
    final_text = []
    for word in token_list:
        lexeme = nlp.vocab[word]
        if lexeme.is_stop == False:
            final_text.append(word)
    fin = " ".join(final_text)
    #a = nlp(text)
    #b = a.vector"""
    return nlp(text).vector

df["headline"] = df["headline"].apply(nlpify)

#word = "word"
#print(nlp(word).vector)
#print(word.vector)

#df4.head()

In [6]:
df

                                                headline  category
0      [-0.45680156, -1.0151792, -0.8944609, 4.128484...         5
1      [-1.6813319, -1.9539821, -0.76449215, 1.065321...         5
2      [-1.7867202, -0.07984098, -0.7163144, 1.709655...         5
3      [-1.9225256, -2.6616306, 1.1283085, 1.4162757,...         5
4      [-0.19456278, 0.38502362, -2.757499, -2.49759,...         5
...                                                  ...       ...
63215  [0.09013114, 4.4682155, -4.387745, -0.36629754...         6
63216  [0.3525113, -0.39149398, -1.7636962, -0.174538...         6
63217  [-1.4177073, 1.1756309, -2.7592795, 3.8519273,...         6
63218  [1.1641855, -0.43473154, 2.7479124, 0.8667539,...         6
63219  [-1.285388, -0.46774504, -0.27410778, 2.382957...         6

[63220 rows x 2 columns]

In [7]:
from sklearn.model_selection import train_test_split

X = df["headline"]
y = df["category"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [8]:
import numpy as np

X_train_2d = np.stack(X_train)
X_test_2d = np.stack(X_test)

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

logisticregression = LogisticRegression()
logisticregression.fit(X_train_2d, y_train)

y_pred = logisticregression.predict(X_test_2d)

classification_repo = classification_report(y_true=y_test, y_pred=y_pred, target_names=["BUSINESS", "ENTERTAINMENT", "SCIENCE", "SPORTS", "TECH", "U.S. NEWS", "WORLD NEWS"])
print(classification_repo)

/usr/local/python/3.12.0/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

               precision    recall  f1-score   support

     BUSINESS       0.77      0.81      0.79      4004
ENTERTAINMENT       0.80      0.80      0.80      2767
      SCIENCE       0.85      0.85      0.85      2009
       SPORTS       0.88      0.89      0.88      3961
         TECH       0.81      0.77      0.79      2711
    U.S. NEWS       0.55      0.46      0.50       394
   WORLD NEWS       0.86      0.85      0.86      3120

     accuracy                           0.82     18966
    macro avg       0.79      0.77      0.78     18966
 weighted avg       0.82      0.82      0.82     18966

In [11]:
logisticregression2 = LogisticRegression(class_weight="balanced")
logisticregression2.fit(X_train_2d, y_train)

y_pred2 = logisticregression2.predict(X_test_2d)

classification_repo2 = classification_report(y_true=y_test, y_pred=y_pred2, target_names=["BUSINESS", "ENTERTAINMENT", "SCIENCE", "SPORTS", "TECH", "U.S. NEWS", "WORLD NEWS"])
print(classification_repo2)

               precision    recall  f1-score   support

     BUSINESS       0.82      0.72      0.77      4004
ENTERTAINMENT       0.79      0.78      0.79      2767
      SCIENCE       0.81      0.87      0.84      2009
       SPORTS       0.91      0.84      0.87      3961
         TECH       0.78      0.78      0.78      2711
    U.S. NEWS       0.26      0.78      0.39       394
   WORLD NEWS       0.87      0.83      0.85      3120

     accuracy                           0.80     18966
    macro avg       0.75      0.80      0.75     18966
 weighted avg       0.82      0.80      0.81     18966

/usr/local/python/3.12.0/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(