In [1]:
##### Categories to classify into: BUSINESS, ENTERTAINMENT, SCIENCE, SPORTS, TECH, U.S. NEWS, WORLD NEWS

###### BUSINESS - 5922
###### Entertainment - 2000
###### SCIENCE - 2206
###### SPORTS - 5077
###### TECH - 2104
###### U.S. NEWS - 1377
###### WORLD NEWS - 3299
###### Total - 22055

In [2]:
import pandas as pd
df = pd.read_csv("../data/1TrainingData.csv")
df

,_id,link,headline,category,short_description,authors,date
0,6556995365bc798083e333a6,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,6556995365bc798083e333a7,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,6556995365bc798083e333aa,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22
3,6556995365bc798083e333ab,https://www.huffpost.com/entry/belk-worker-fou...,Cleaner Was Dead In Belk Bathroom For 4 Days B...,U.S. NEWS,The 63-year-old woman was seen working at the ...,NaN,2022-09-22
4,6556995365bc798083e333ac,https://www.huffpost.com/entry/reporter-gets-a...,Reporter Gets Adorable Surprise From Her Boyfr...,U.S. NEWS,"""Who's that behind you?"" an anchor for New Yor...",Elyse Wanshel,2022-09-22
...,...,...,...,...,...,...,...
22050,6556995465bc798083e361a6,https://www.huffingtonpost.com/entry/westworld...,The 'Westworld' Season 2 Trailer Shows Us The ...,ENTERTAINMENT,"And Shogun World, at last!",Andy McDonald,2018-03-29
22051,6556995465bc798083e361a8,https://www.huffingtonpost.com/entry/john-kric...,'Ren & Stimpy' Creator Accused Of Sexually Abu...,ENTERTAINMENT,"In the 1990s, John Kricfalusi reportedly made ...",David Moye,2018-03-29
22052,6556995465bc798083e361ab,https://www.huffingtonpost.com/entry/hulu-comi...,Here's What Is Coming To Hulu In April 2018,ENTERTAINMENT,You'll have many more choices soon.,Todd Van Luling,2018-03-29
22053,6556995465bc798083e361b0,https://www.huffingtonpost.com/entry/amazon-co...,Here's What Is Coming To Amazon In April 2018,ENTERTAINMENT,"""Philadelphia"" and ""The Florida Project"" will ...",Todd Van Luling,2018-03-29
22054,6556995465bc798083e361bc,https://www.huffingtonpost.com/entry/roseanne-...,Roseanne Barr Snaps Back At Wendy Williams Wit...,ENTERTAINMENT,The talk-show host discovered why you don't as...,Ron Dicker,2018-03-29

In [3]:
df.drop(columns=["_id", "link", "short_description", "authors", "date"], inplace=True)
df

                                                headline       category
0      Over 4 Million Americans Roll Up Sleeves For O...      U.S. NEWS
1      American Airlines Flyer Charged, Banned For Li...      U.S. NEWS
2      Woman Who Called Cops On Black Bird-Watcher Lo...      U.S. NEWS
3      Cleaner Was Dead In Belk Bathroom For 4 Days B...      U.S. NEWS
4      Reporter Gets Adorable Surprise From Her Boyfr...      U.S. NEWS
...                                                  ...            ...
22050  The 'Westworld' Season 2 Trailer Shows Us The ...  ENTERTAINMENT
22051  'Ren & Stimpy' Creator Accused Of Sexually Abu...  ENTERTAINMENT
22052        Here's What Is Coming To Hulu In April 2018  ENTERTAINMENT
22053      Here's What Is Coming To Amazon In April 2018  ENTERTAINMENT
22054  Roseanne Barr Snaps Back At Wendy Williams Wit...  ENTERTAINMENT

[22055 rows x 2 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
label = le.fit_transform(df["category"])

df.drop(columns=["category"], inplace=True)

df["category"] = label

df

                                                headline  category
0      Over 4 Million Americans Roll Up Sleeves For O...         5
1      American Airlines Flyer Charged, Banned For Li...         5
2      Woman Who Called Cops On Black Bird-Watcher Lo...         5
3      Cleaner Was Dead In Belk Bathroom For 4 Days B...         5
4      Reporter Gets Adorable Surprise From Her Boyfr...         5
...                                                  ...       ...
22050  The 'Westworld' Season 2 Trailer Shows Us The ...         1
22051  'Ren & Stimpy' Creator Accused Of Sexually Abu...         1
22052        Here's What Is Coming To Hulu In April 2018         1
22053      Here's What Is Coming To Amazon In April 2018         1
22054  Roseanne Barr Snaps Back At Wendy Williams Wit...         1

[22055 rows x 2 columns]

In [5]:
import en_core_web_lg

nlp = en_core_web_lg.load()

def nlpify(text):
    text = str(text)
    return nlp(text).vector

df["headline"] = df["headline"].apply(nlpify)

In [6]:
df

                                                headline  category
0      [-0.45680156, -1.0151792, -0.8944609, 4.128484...         5
1      [-1.6813319, -1.9539821, -0.76449215, 1.065321...         5
2      [-1.7867202, -0.07984098, -0.7163144, 1.709655...         5
3      [-1.9225256, -2.6616306, 1.1283085, 1.4162757,...         5
4      [-0.19456278, 0.38502362, -2.757499, -2.49759,...         5
...                                                  ...       ...
22050  [-0.68827355, -1.0149857, 2.6818492, 0.7525935...         1
22051  [-0.24837516, -1.4244038, 2.1668715, -0.924580...         1
22052  [0.3228301, 1.5162703, -1.2865318, -2.8870578,...         1
22053  [0.44086105, 1.081117, -0.998168, -2.117308, 2...         1
22054  [-0.7898838, -1.5805446, -0.027535828, 0.08758...         1

[22055 rows x 2 columns]

In [7]:
from sklearn.model_selection import train_test_split

X = df["headline"]
y = df["category"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [8]:
import numpy as np

X_train_2d = np.stack(X_train)
X_test_2d = np.stack(X_test)

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

logisticregression = LogisticRegression()
logisticregression.fit(X_train_2d, y_train)

y_pred = logisticregression.predict(X_test_2d)

classification_repo = classification_report(y_true=y_test, y_pred=y_pred, target_names=["BUSINESS", "ENTERTAINMENT", "SCIENCE", "SPORTS", "TECH", "U.S. NEWS", "WORLD NEWS"])
print(classification_repo)

               precision    recall  f1-score   support

     BUSINESS       0.78      0.79      0.79      1835
ENTERTAINMENT       0.75      0.77      0.76       599
      SCIENCE       0.75      0.75      0.75       670
       SPORTS       0.81      0.86      0.83      1474
         TECH       0.70      0.64      0.67       634
    U.S. NEWS       0.56      0.52      0.54       377
   WORLD NEWS       0.82      0.80      0.81      1028

     accuracy                           0.77      6617
    macro avg       0.74      0.73      0.74      6617
 weighted avg       0.77      0.77      0.77      6617

/usr/local/python/3.12.0/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [11]:
logisticregression2 = LogisticRegression(class_weight="balanced")
logisticregression2.fit(X_train_2d, y_train)

y_pred2 = logisticregression2.predict(X_test_2d)

classification_repo2 = classification_report(y_true=y_test, y_pred=y_pred2, target_names=["BUSINESS", "ENTERTAINMENT", "SCIENCE", "SPORTS", "TECH", "U.S. NEWS", "WORLD NEWS"])
print(classification_repo2)

               precision    recall  f1-score   support

     BUSINESS       0.85      0.68      0.76      1835
ENTERTAINMENT       0.68      0.82      0.74       599
      SCIENCE       0.69      0.79      0.74       670
       SPORTS       0.86      0.79      0.82      1474
         TECH       0.61      0.73      0.66       634
    U.S. NEWS       0.44      0.66      0.53       377
   WORLD NEWS       0.81      0.78      0.79      1028

     accuracy                           0.75      6617
    macro avg       0.71      0.75      0.72      6617
 weighted avg       0.77      0.75      0.75      6617

/usr/local/python/3.12.0/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(