In [1]:
##### Categories to classify into: BUSINESS, ENTERTAINMENT, HEALTH, SCIENCE, SPORTS, TECH, U.S. NEWS, WORLD NEWS

###### Contains data from "RishabhMisraHuffPostDataset", "GoogleNewsDataset", "AGNewsDataset" without Science/Tech, "MicrosoftNewsDatset" only health category

###### BUSINESS - 45344
###### Entertainment - 24644
###### HEALTH - 25875
###### SCIENCE - 6565
###### SPORTS - 45207
###### TECH - 9038
###### U.S. NEWS - 1377
###### WORLD NEWS - 422228
###### Total - 200278

In [2]:
import pandas as pd
df = pd.read_csv("../data/5TrainingData.csv")
df

,_id,headline,category
0,6556995365bc798083e333a6,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS
1,6556995365bc798083e333a7,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS
2,6556995365bc798083e333aa,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS
3,6556995365bc798083e333ab,Cleaner Was Dead In Belk Bathroom For 4 Days B...,U.S. NEWS
4,6556995365bc798083e333ac,Reporter Gets Adorable Surprise From Her Boyfr...,U.S. NEWS
...,...,...,...
200273,65591709853abc5434799cc1,New CA Hospital Safety Ratings Released: 2 Get...,HEALTH
200274,65591709853abc5434799cdd,Dr. Bitner says sleeping is not a waste of tim...,HEALTH
200275,6559170a853abc5434799d69,"Virginia, DC Hospital Safety Grades For 2019",HEALTH
200276,6559170a853abc5434799da3,"End-of-life education, legislation gets backin...",HEALTH
200277,6559170a853abc5434799e27,'Alarming rise in vaping' among R.I. high scho...,HEALTH

In [3]:
df.drop(columns=["_id"], inplace=True)
df

                                                 headline   category
0       Over 4 Million Americans Roll Up Sleeves For O...  U.S. NEWS
1       American Airlines Flyer Charged, Banned For Li...  U.S. NEWS
2       Woman Who Called Cops On Black Bird-Watcher Lo...  U.S. NEWS
3       Cleaner Was Dead In Belk Bathroom For 4 Days B...  U.S. NEWS
4       Reporter Gets Adorable Surprise From Her Boyfr...  U.S. NEWS
...                                                   ...        ...
200273  New CA Hospital Safety Ratings Released: 2 Get...     HEALTH
200274  Dr. Bitner says sleeping is not a waste of tim...     HEALTH
200275       Virginia, DC Hospital Safety Grades For 2019     HEALTH
200276  End-of-life education, legislation gets backin...     HEALTH
200277  'Alarming rise in vaping' among R.I. high scho...     HEALTH

[200278 rows x 2 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
label = le.fit_transform(df["category"])

df.drop(columns=["category"], inplace=True)

df["category"] = label

df

                                                 headline  category
0       Over 4 Million Americans Roll Up Sleeves For O...         6
1       American Airlines Flyer Charged, Banned For Li...         6
2       Woman Who Called Cops On Black Bird-Watcher Lo...         6
3       Cleaner Was Dead In Belk Bathroom For 4 Days B...         6
4       Reporter Gets Adorable Surprise From Her Boyfr...         6
...                                                   ...       ...
200273  New CA Hospital Safety Ratings Released: 2 Get...         2
200274  Dr. Bitner says sleeping is not a waste of tim...         2
200275       Virginia, DC Hospital Safety Grades For 2019         2
200276  End-of-life education, legislation gets backin...         2
200277  'Alarming rise in vaping' among R.I. high scho...         2

[200278 rows x 2 columns]

In [5]:
import en_core_web_lg

nlp = en_core_web_lg.load()

def nlpify(text):
    text = str(text)
    return nlp(text).vector

df["headline"] = df["headline"].apply(nlpify)

In [6]:
df

                                                 headline  category
0       [-0.45680156, -1.0151792, -0.8944609, 4.128484...         6
1       [-1.6813319, -1.9539821, -0.76449215, 1.065321...         6
2       [-1.7867202, -0.07984098, -0.7163144, 1.709655...         6
3       [-1.9225256, -2.6616306, 1.1283085, 1.4162757,...         6
4       [-0.19456278, 0.38502362, -2.757499, -2.49759,...         6
...                                                   ...       ...
200273  [0.15706618, -3.565367, 4.8407087, 2.6693187, ...         2
200274  [-0.74048406, 3.4366226, -2.8612766, -0.718307...         2
200275  [-2.7601447, -2.35395, 0.95709276, 2.2722, 2.5...         2
200276  [-3.1292198, -1.2337929, -0.08367782, 3.700286...         2
200277  [-0.70182693, 0.16861643, 0.96873915, 0.606225...         2

[200278 rows x 2 columns]

In [7]:
from sklearn.model_selection import train_test_split

X = df["headline"]
y = df["category"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [8]:
import numpy as np

X_train_2d = np.stack(X_train)
X_test_2d = np.stack(X_test)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

logisticregression = LogisticRegression()
logisticregression.fit(X_train_2d, y_train)

y_pred = logisticregression.predict(X_test_2d)

classification_repo = classification_report(y_true=y_test, y_pred=y_pred, target_names=["BUSINESS", "ENTERTAINMENT",  "HEALTH", "SCIENCE", "SPORTS", "TECH", "U.S. NEWS", "WORLD NEWS"])
print(classification_repo)

In [ ]:
logisticregression2 = LogisticRegression(class_weight="balanced")
logisticregression2.fit(X_train_2d, y_train)

y_pred2 = logisticregression2.predict(X_test_2d)

classification_repo2 = classification_report(y_true=y_test, y_pred=y_pred2, target_names=["BUSINESS", "ENTERTAINMENT", "HEALTH", "SCIENCE", "SPORTS", "TECH", "U.S. NEWS", "WORLD NEWS"])
print(classification_repo2)

In [ ]:
labels_dict = {0: "BUSINESS", 1: "ENTERTAINMENT", 2: "HEALTH", 3: "SCIENCE", 4: "SPORTS", 5:"TECH", 6: "U.S. NEWS", 7: "WORLD NEWS"}

prediction = logisticregression.predict([nlp("Sustained increases' reported in flu in as RSV hits kids hard 7").vector])
prediction = prediction[0]

labels_dict.get(prediction)